body, ul,li,h1,h2{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
header{
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #f63232;
    padding: 20px;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1{
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 36px;
}

.banner{
    position: relative;
}
.banner img{
    max-width: 100%;
}
.banner .welcome{
    position: absolute;
    background-color: rgb(200, 194, 194);
    color: blue;
    padding: 20px;
    left: 79.5%;
    top: 50%;
    text-align: justify;    
}
.banner h2{
    font-size: 36px;
}
.banner h2 span{
    font-size: 1.3em;
}

nav{
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
    top: 105px;
}
nav ul{
    list-style: none;
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width:25%;
    display: inline-block;
    font-size: 24px;
}
nav li a{
    text-decoration: none;
    color: #4b4b4b;
}
main{
    max-width: 100%;
    width:1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
article h2{
    color: #f63232;
    font-size: 48px;
}
article p{
    line-height: 2em;
    color: #4b4b4b;
}
main ul{
    list-style: none;
}
.images{
    display: grid;
    grid-template-columns: repeat(2, 10fr);
    grid-gap: 18px;
    text-align: center;
    margin: 80px 0;
    /* white-space: nowrap; */
    /* height: calc(100vh - 116px); */
}
/* .images li{
    width: 40%;
    margin: 20px 5%;
} */
.images li img{
    max-width: 100%;
}
.join{
    background: #f4f4f4;
    text-align: center;
    padding: 20px 20px;
    color: #4b4b4b;
}
.join h2{
    font-size: 36px;
}
form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;
}
.videos{
    background:#f4f4f4;
    padding: 10px 50px;
}
.videos h3{
    text-align: center;
    font-size: 36px;
    color: #4b4b4b;
}
.video{
    text-align: center;
    margin: 20px 0%;
}
.video li{
    display: inline-block;
}
.video li iframe{
    max-width: 100%;
}
.back-to-top{
    text-align:right; 
    padding: 5px 50px;    
}
.back-to-top a{
    color: #4b4b4b;
    font-size: 1.5em;
}
footer{
    background: #f63232;
    color: white;
    padding: 10px;
    text-align: center;
}